.card-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: rgb(226, 223, 223);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 20px;
}

.image-container {
    flex: 1; 
    padding-right: 16px; 
}

.image-container img {
    width: 100%;
    border-radius: 50%;
}

.info-container {
    flex: 2; 
}

.name {
    font-weight: bold;
    font-size: 20px;
}

.email {
    color: #007bff;
}
