.content-container {
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center;     /* Vertical centering */
  height: 100vh;           /* sets the height of the container to 100% of the viewport  */
  width: 100vw;            /* sets the width of the container to 100% of the viewport  */
}
